
<admin-page admin-page-title="Integration" parent-page="sysadmin" parent-page-title="Sysadmin">

    <p>Integrating with legacy systems.</p>

    <uib-tabset class="framed-tabs">

        <!-- Legacy NW Import -->
        <uib-tab ng-if="supportsMainType('NW')">
            <tab-heading>
                Legacy NW import
            </tab-heading>
            <div ng-controller="NwIntegrationCtrl">

                <form id="importNwForm" name="importNwForm" class="form-horizontal" style="margin-top: 20px">
                    <div class="form-group">
                        <label for="importNwMessageSeries" class="col-sm-4 col-md-3 col-lg-2 control-label">Msg. Series</label>
                        <div class="col-sm-4 col-md-4 col-lg-3">
                            <select id="importNwMessageSeries" class="form-control input-sm" required
                                    ng-model="data.seriesId" ng-options="seriesId for seriesId in messageSeriesIds" >
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="importNwLocalMessageSeries" class="col-sm-4 col-md-3 col-lg-2 control-label">Local Msg. Series</label>
                        <div class="col-sm-4 col-md-4 col-lg-3">
                            <select id="importNwLocalMessageSeries" class="form-control input-sm" required
                                    ng-model="data.localSeriesId" ng-options="seriesId for seriesId in messageSeriesIds" >
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-3 col-lg-2 control-label">Start date</label>
                        <div class="col-sm-4 col-md-4 col-lg-3">
                            <date-time-picker id="importNwStartDate" ng-model="data.startImportDate" placeholder="Start Date"
                                              time="'00:00:00'" format="'l'"></date-time-picker>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="importNwTag" class="col-sm-4 col-md-3 col-lg-2 control-label">Message Tag</label>
                        <div class="col-sm-4 col-md-4 col-lg-3">
                            <message-tags-field id="importNwTag" tag-data="tagData" init-ids="initTagIds" multiple="false"></message-tags-field>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="autoImport" class="col-sm-4 col-md-3 col-lg-2 control-label">Auto-import</label>
                        <div class="col-sm-8 col-md-9 col-lg-10" style="margin-top: 7px">
                            <input type="checkbox" id="autoImport" ng-model="data.autoImport">
                            &nbsp;Automatically import future changes
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px">
                        <div class="col-sm-offset-4 col-md-offset-3 col-lg-offset-2 col-sm-6">
                            <button class="btn btn-sm btn-default" ng-click="importLegacyNw()"
                                    ng-disabled="importNwForm.$pristine || importNwForm.$invalid">Update Import</button>
                            <button class="btn btn-sm btn-default" ng-click="testConnection()">Test Connection</button>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-sm-12 col-md-10 col-lg-8" style="margin-top: 20px">
                        <label class="control-label" for="legacyNwResult">Result</label>
                        <textarea ng-model="legacyNwResult" id="legacyNwResult" class="form-control input-sm" style="font-size: 10px;" rows="3" readonly></textarea>
                    </div>
                </div>

            </div>
        </uib-tab>


        <!-- Legacy Firing Areas -->
        <uib-tab ng-if="domain.firingSchedule">
            <tab-heading>
                Legacy Firing Areas
            </tab-heading>
            <div ng-controller="FaIntegrationCtrl">

                <div class="panel panel-default">
                    <div class="panel-heading">1 &nbsp; Firing Areas</div>
                    <div class="panel-body">
                        <button class="btn btn-sm btn-default" ng-click="testConnection()">Test Connection</button>
                        <button class="btn btn-sm btn-default" ng-click="importLegacyFa()">Import Areas</button>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">2 &nbsp; Firing Exercise Schedule</div>
                    <div class="panel-body">
                        <div style="margin-bottom: 10px">
                            <input type="checkbox" ng-model="autoImportFaSchedule"> Auto-import firing area schedule
                        </div>
                        <div>
                            <button class="btn btn-sm btn-default" ng-click="updateAutoImportFaSchedule()">Save</button>
                            <button class="btn btn-sm btn-default" ng-click="importLegacyFaSchedule()">Import Now</button>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">3 &nbsp; Generate Firing Area Template Messages</div>
                    <div class="panel-body">
                        <form id="importFaForm" name="importFaForm" class="form-horizontal" style="margin-top: 20px">

                            <div class="form-group">
                                <label for="importFaMessageSeries" class="col-sm-4 col-md-3 col-lg-2 control-label">Msg. Series</label>
                                <div class="col-sm-4 col-md-4 col-lg-3">
                                    <select id="importFaMessageSeries" class="form-control input-sm" required
                                            ng-model="data.seriesId" ng-options="seriesId for seriesId in messageSeriesIds" >
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="importFaTag" class="col-sm-4 col-md-3 col-lg-2 control-label">Message Tag</label>
                                <div class="col-sm-4 col-md-4 col-lg-3">
                                    <message-tags-field id="importFaTag" tag-data="tagData" multiple="false"></message-tags-field>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-4 col-md-offset-3 col-lg-offset-2 col-sm-6">
                                    <button class="btn btn-sm btn-default" ng-click="generateFaTemplates()"
                                            ng-disabled="importFaForm.$invalid">Generate Firing Area Templates</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12" style="margin-top: 20px">
                        <label class="control-label" for="legacyNwResult">Result</label>
                        <textarea ng-model="legacyFaResult" id="legacyFaResult" class="form-control input-sm" style="font-size: 10px;" rows="3" readonly></textarea>
                    </div>
                </div>

            </div>
        </uib-tab>


        <!-- AtoN Import -->
        <uib-tab ng-if="true">
            <tab-heading>
                AtoN Import
            </tab-heading>
            <div ng-controller="AtonIntegrationCtrl" class="row">

                <div class="col-sm-12 col-md-10 col-lg-8" style="margin-top: 20px">
                    <p>Please upload the following files:</p>
                    <dl class="dl-horizontal">

                        <dt>AFMyndighed_TableToExcel.xls</dt>
                        <dd>List of all AtoNs. Upload before the remaining files.</dd>

                        <dt>Fyr2013.xls</dt>
                        <dd>List of lights used in the Fyrliste publication.</dd>

                        <dt>AIS2013.xls</dt>
                        <dd>List of AIS transponders used in the Fyrliste publication.</dd>

                        <dt>DGPS2013.xls</dt>
                        <dd>List of DGPS transmitters used in the Fyrliste publication.</dd>

                        <dt>Racon2013.xls</dt>
                        <dd>List of RACONs used in the Fyrliste publication.</dd>
                    </dl>
                </div>

                <div class="col-sm-12 col-md-10 col-lg-8" style="margin-top: 20px">
                    <file-upload url="atonUploadUrl"
                                 drop-text="or drop .xls file here" multiple="false"
                                 file-types="'xls'" auto-upload="false" remove-after-upload="true"
                                 success="xlsFileUploaded(result)"
                                 error="xlsFileUploadError(status, statusText)"></file-upload>
                </div>

                <div class="col-sm-12 col-md-10 col-lg-8" style="margin-top: 20px">
                    <label class="control-label" for="importResult">Result</label>
                    <textarea ng-model="importResult" id="importResult" class="form-control input-sm" style="font-size: 10px;" rows="3" readonly></textarea>
                </div>


            </div>
        </uib-tab>

    </uib-tabset>

</admin-page>

