
body {
    background-color: #012c43;
}

.charts-map {
    background-color: #d0cfd4;
}

.osm-water-bg {
    background-color: #d0cfd4;
}

.atons-map {
    background-color: #d0cfd4;
}

.message-list-map {
    background-color: #d0cfd4;
}

.message-details-map {
    background-color: #d0cfd4;
}

